@import '../common/styles/sass/variables';
.myWorksBlock {
  background-color: $bgColor;
  min-height: 100vh;

  .myWorksContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .works {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 1125px) {
        justify-content: center;
      }
    }
  }
}



