.myWorksBlock{
    background-color: #db7bff;
    height: 100vh;
}

.myWorksContainer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.title{
    background-color: lightgrey;
}

.works{
    border: 1px solid aqua;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}