.myWorksBlock{
    background-color: #343a40;
    min-height: 100vh;
}

.myWorksContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title{
    font-size: 30px;
}

.title h2{
    font-family: 'Poppins', sans-serif;
    color: #eeeeee;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    margin-top: 120px;
}

.title h2::after {
    position: relative;
    display: block;
    opacity: 1;
    content: '';
    height: 2px;
    width: 50px;
    margin: 10px auto;
    background-color: #e6e7e8;
    z-index: 0;
}



.works{
    border: 1px solid aqua;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 625px) {
    .works{
        justify-content: center;
    }
}