.myWorksBlock{
    background-color: #db7bff;
    min-height: 100vh;
}

.myWorksContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title{
    background-color: lightgrey;
}

.works{
    border: 1px solid aqua;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}