.contacts{
    background-color: aquamarine;
    display: flex;
}

.container{
    min-height: 100vh;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form{
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.buttonSend{
    margin: 10px;
}

.margin{
    margin: 10px;
}