.image {
    width: 500px;
    height: 400px;
    /*background-color: darkgray;*/
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.workModule {
    width: 500px;
    background-color: #51565B;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.workTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #eeeeee;
    position: relative;
    display: inline-block;
    font-size: 21px;
    margin: 0 0 5px;
    padding-bottom: 6px;
    z-index: 1;
}

.description {
    font-family: "Poppins", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.75em;
    color: #a6a7a8;
}

.button {
    font-family: "Poppins", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.75em;
    color: #282c34;
    background-color: #a6a7a8;
    width: 50%;
}

.projectInfo {

}