.skillsBlock{
    height: 100vh;
    background-color: darkseagreen;
}

.skillsContainer{
    align-items: flex-start;
    justify-content: space-between;
}

.title{
    background-color: cornflowerblue;
}

.skills{
    border: 1px solid;
    background-color: cornflowerblue;
}
