@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.mainBlock{
    background-color: $bgColor;
    min-height: 100vh;
    .text{
        width: 300px;
        background-color: $bgDescriptionColor;
        .mainTitle {
            @include text($textFont, 21px, 1.75em, $textColor, 400);
            position: relative;
            display: inline-block;
            margin: 0 0 5px;
            padding-bottom: 6px;
            z-index: 1;
        }
        .mainText {
            @include text($textFont, 21px, 1.75em, $textColor, 400);
            position: relative;
            display: inline-block;
            margin: 0 0 5px;
            padding-bottom: 6px;
            z-index: 1;
        }
        .mainDescription {
            @include text($textFont, 14px, 1.75em, $textDescriptionColor, 400);
            font-style: normal;
            margin-bottom: 7px;
        }
    }

    .photo{
        width: 300px;
        height: 400px;
        background-color: lightgrey;
    }
}


