@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.nav {
    border: 2px black solid;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    font-style: normal;
    .navText {
        @include text($textFont, 18px, 1.75em, $textDescriptionColor, 400);
    }
}

