.footer {
    min-height: 50vh;
    background-color: darkseagreen;


}

.container {
    display: flex;
    flex-direction: column;
}

.icons {
    width: 280px;
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;
}

.icon1 {
    height: 60px;
    width: 60px;
    background-color: darkgray;
}

.icon2 {
    height: 60px;
    width: 60px;

}