.footer{
    height: 30vh;
    background-color: darkseagreen;


}

.container{
    display: flex;
    flex-direction: column;
}

.icons{
    border: 1px solid;
    display: flex;
}

.icon1{
    height: 60px;
    width: 60px;
    background-color: darkgray;
}

.icon2{
    height: 60px;
    width: 60px;

}